<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ca.project.Member">

	<insert id="insert">
		<![CDATA[
		insert into tbl_member
		values(#{mem_id}, #{mem_pw}, #{mem_name}, #{mem_gender}, #{mem_contact}, 
		sysdate, #{mem_birth}, null, null, null, null, 0)
		]]>
	</insert>
	
	<select id="checkid" resultType="string">
		select mem_id from tbl_member where mem_id = #{id}
	</select>
	
	<select id="getAmount" resultType="Integer">
		select count(mem_id) from tbl_member	
	</select>
	
	<select id="getListpage" resultType="ca.project.DTO.MemberDTO">
		<![CDATA[
		select mem_id, mem_pw, mem_name, mem_gender, mem_contact, mem_regdate, 
		to_char(mem_birth, 'yyyy/mm/dd') mem_birth, mem_address1, mem_address2, 
		mem_address3, mem_email from tbl_member order by mem_regdate desc
		]]>
	</select>
	
	<select id="read" resultType="ca.project.DTO.MemberDTO">
		<![CDATA[
		select mem_id, mem_pw, mem_name, mem_gender, mem_contact, mem_regdate, 
		to_char(mem_birth, 'yyyy/mm/dd') mem_birth, mem_address1, mem_address2, 
		mem_address3, mem_email from tbl_member where mem_id = #{mem_id}
		]]>
	</select>
	
	<update id="update">
		<![CDATA[
		update tbl_member set mem_pw=#{mem_pw}, mem_name=#{mem_name}, mem_gender=#{mem_gender}, 
		mem_contact=#{mem_contact}, mem_address1=#{mem_address1}, mem_address2=#{mem_address2}, 
		mem_address3=#{mem_address3}, mem_email=#{mem_email}
		where mem_id = #{mem_id}
		]]>
	</update>
	
	<delete id="delete">
		delete from tbl_member where mem_id = #{mem_id}
	</delete>
	
	
</mapper>